fastapi~=0.89.1
gdown>=4.2.0
matplotlib>=3.0.0
numpy>=1.22.0
opencv-python>=4.0.0.0
Pillow>=9.0.0
scikit-image>=0.18.0
tensorflow-macos
tqdm>=4.66.3
loguru~=0.6.0
starlette>=0.25.0 # not directly required, pinned by Snyk to avoid a vulnerability
certifi>=2024.7.4 # not directly required, pinned by Snyk to avoid a vulnerability
idna>=3.7 # not directly required, pinned by Snyk to avoid a vulnerability
requests>=2.31.0 # not directly required, pinned by Snyk to avoid a vulnerability