fastapi~=0.89.1
gdown>=4.2.0
matplotlib>=3.0.0
numpy>=1.22.0
opencv-python>=4.0.0.0
Pillow>=9.0.0
scikit-image>=0.18.0
tensorflow-macos
tqdm>=4.62
loguru~=0.6.0
starlette>=0.25.0 # not directly required, pinned by Snyk to avoid a vulnerability
pydantic>=2.4.0 # not directly required, pinned by Snyk to avoid a vulnerability